.home-container {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  z-index: 1;
}

.home-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/plates.jpg"); /* image in public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15; /* 👈 adjust opacity here */
  z-index: -1;
}
